*{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
}
.sky {
    position: relative;
    background: #000;
    min-height: 100vh; /* 确保内容足够高以允许滚动 */
    overflow-y: auto; /* 允许竖向滚动 */
}
body {
    margin: 0;
    overflow: auto; /* 确保可以滚动 */
}
.star {
    position: absolute;
    background: white;
    border-radius: 50%;
    animation: twinkle 1.5s infinite alternate;
}

@keyframes twinkle {
    0% { opacity: 0.5; }
    100% { opacity: 1; }
}

#card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    position: relative;
    z-index: 1;
    opacity: 0.9;
}


h1{
    font-size: 2em;
    color: #dd0c28; /* 标题颜色 */
    margin:1em 0
}

h2, h3 {
    color: #333; /* 副标题颜色 */
    margin: 0.5em 0;
}

a {
    text-decoration: none;
    color: #0077b5; /* LinkedIn 颜色 */
}

.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle; /* 确保图标垂直居中 */
}

#head {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    
}
#head h1 {
    margin: 0;
    font-size: 2.5em; /* 调整标题大小 */
    color: #333; /* 标题颜色 */

}
#contact {
  display: flex;
  margin: 0;
  font-size: 0.8em; /* 调整字体大小 */
  flex-direction: row;
  justify-content: space-between;
}

#phone{
  margin-right: 20px; /* 添加右边距 */
  display: flex;
  justify-content: right;
  align-items: right;
}

